* {
    scroll-behavior: smooth;
}

body {
    background-color: #b6aace;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-weight: lighter;
}

h3 {
    color: #655984;
}

p {
    color: #655984;
}

/* Header */

header {
    display: flex;
    height: 100px;
    width: 100%;
    top: 0;
    background-color: rgba(67, 49, 102, 0.9);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
}

.fab {
    font-size: 30px;
    text-decoration: none;
    color: #BDB7CA;
    margin: 0;
    padding: 0 5px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-bottom: 20px;
}

#my_name {
    color: #BDB7CA;
    font-weight: lighter;
}

.icons {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-right: 50px;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;    
}

.nav li {
    display: inline-block;
    font-size: 15px;
}

li.active, li:hover {
    border: 2px solid #BDB7CA;
    transition: all 0.3s ease-in-out;
}


a {
    display: inline-block;
    color: #BDB7CA;
    padding: 15px 15px;
    text-decoration: none;
}

@media screen and (max-width: 960px) {
    
}

section {
    height: 768px;
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/background_image1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/* Hero */
.hero {
    
    display: flex;
}
.hero_text {
    padding: 20px;
    max-width: 500px;
    z-index: 99;
    border: 6px solid #534A70;
    background-color: rgba(222, 220, 226, 0.8);
    box-shadow: 20px 20px rgba(0, 0, 0, 0.2);
    position: relative;
}

.image {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

.title {
    color: #534A70;
    font-size: 50px;
    display: inline-block;
    font-weight: lighter;

}

.subtitle {
    color: #534A70;
    font-size: 30px;
    display: inline-block;
}

/* About */

.about_text {
    padding: 20px;
    max-width: 600px;
    min-width: 500px;
    z-index: 99;
    border: 6px solid #534A70;
    background-color: rgba(222, 220, 226, 0.9);
    box-shadow: 20px 20px rgba(0, 0, 0, 0.2);
}

/* Education */

.education_text {
    padding: 40px;
    min-width: 600px;
    z-index: 99;
    border: 6px solid #534A70;
    background-color: rgba(222, 220, 226, 0.9);
    box-shadow: 20px 20px rgba(0, 0, 0, 0.2);
}

.schools { 
    display: flex;
    gap: 30px;
}

.first_school {
    flex: 1;
    padding: 20px;
    border: 6px solid #534a70;
    margin-bottom: 30px;
}

.second_school {
    flex: 1;
    padding: 20px;
    border: 6px solid #bdb7ca;
    margin-bottom: 30px;
}

/* Experience */

.experience_text {
    padding: 40px;
    z-index: 99;
    border: 6px solid #534A70;
    background-color: rgba(222, 220, 226, 0.9);
    box-shadow: 20px 20px rgba(0, 0, 0, 0.2);

}

.jobs {
    display: flex;
    gap: 30px;  
}

.position {
    font-style: italic;
}

.first_job  {
    border: 6px solid #534a70;
    flex: 1;
    padding: 20px;
}

.second_job {
    border: 6px solid #bdb7ca;
    flex: 1;
    padding: 20px;
}

.experience_text ul {
    list-style: square;
    display: block;
    color: #655984;
}

/* Skills */

.skill_bars {
    z-index: 99;
    border: 6px solid #534A70;
    background-color: rgba(222, 220, 226, 0.9);
    box-shadow: 20px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.bar {
    width: 600px;
    height: 12px;
    border: 2px solid #534a70;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.bar_fill {
    height: 100%;
    transition: all 0.5s ease-in-out;
}

#python {
    background-color: #534a70;
    width: 0%;
}

#java {
    background-color: #655984;
    width: 0%;
}

#c {
    background-color: #7F749C;
    width: 0%;
}

#git {
    background-color: #9C91B8;
    width: 0%;
}

#javascript {
    background-color: #a99dc7;
    width: 0%;
}

#html {
    background-color: #b3a6d4;
    width: 0%;
}

#css {
    background-color: #b3a6d4;
    width: 0%;
}

/* Contact */

section.contact {
    background-color: #655984;
    background-image: url(images/background_image2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.contact_block {
    padding: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 99;
    border: 6px solid #BDB7CA;
    background-color: rgba(67, 49, 102, 0.9);
    box-shadow: 20px 20px rgba(0, 0, 0, 0.2);
}

.title_section {
    display: flex;
    flex-direction: row;
}

#contact_icons {
    padding-left: 0;
}

#contact_title {
    color: #BDB7CA;
}

.name_field {
    display: flex;
    gap: 10px;
}

#name {
    flex: 1;
}

#last_name {
    flex: 1;
}

label {
    color: #BDB7CA; 

}

input {
    height: 30px;
    background-color: rgba(67, 49, 102, 0.9);
    color: rgba(222, 220, 226);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid rgba(222, 220, 226);
    
}

textarea {
    height: 60px;
    background-color: rgba(67, 49, 102, 0.9);
    color: rgba(222, 220, 226);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 400px;
    max-height: 60px;
    border: 2px solid rgba(222, 220, 226);
}

#submit {
    color: #655984;
    margin-top: 20px;
    height: 30px;
    background-color: rgba(222, 220, 226);
    font-size: 17px;
    cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #C1B7DC;
    opacity: 0.8;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #C1B7DC;
    opacity: 0.8;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #C1B7DC;
    opacity: 0.8;
  }