:root {
    --transparent-purple-light: rgba(222, 220, 226, 0.7);
    --transparent-purple-dark: rgba(67, 49, 102, 0.7);
}

* {
    scroll-behavior: smooth;
}

body {
    background-color: #b6aace;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-weight: lighter;
}

h3 {
    color: #655984;
}

p {
    color: #655984;
}

/* Header */

header {
    display: flex;
    height: 100px;
    width: 100%;
    top: 0;
    background-color: var(--transparent-purple-dark);
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 999;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.fab {
    font-size: 30px;
    text-decoration: none;
    color: #BDB7CA;
    margin: 0;
    padding: 0 5px;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 50px;
    padding-bottom: 20px;
    gap: 10px;
    
}

#my_name {
    color: #BDB7CA;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.icons {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-right: 50px;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;    
}

.nav li {
    display: inline-block;
    font-size: 20px;
}

li.active, li:hover {
    border: 2px solid #BDB7CA;
    transition: all 0.3s ease;
}


a {
    display: inline-block;
    color: #BDB7CA;
    padding: 15px 15px;
    text-decoration: none;
}

@media screen and (max-width: 960px) {
    header {
        background-color: var(--transparent-purple-dark);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        display: grid;
        grid-template-columns: auto;
    }
    nav {
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        transition: all 0.5s ease;
        z-index: -1;
    }
    .nav li {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        width: 100%;
    }

    nav.active {
        background-color: var(--transparent-purple-dark);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        top: 100%;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
    }

    .menu_bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #BDB7CA;
    }

    .nav ul {
        width: 100%;
        text-align: center;
        padding: 2rem;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .nav_toggle .menu_bar {
        display: block;
    }

    .nav_toggle {
        cursor: pointer;
    }

    #mobile-menu.is-active .menu_bar:nth-child(2) {        
        opacity: 0;
    }
    #mobile-menu.is-active .menu_bar:nth-child(1) {        
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .menu_bar:nth-child(3) {        
        transform: translateY(-8px) rotate(-45deg);
    }

}

section {
    height: 768px;
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/background_image1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/* Hero */
.hero {
    
    display: flex;
}
.hero_text {
    padding: 20px;
    max-width: 500px;
    z-index: 99;
    border: 6px solid #534A70;
    background-color: var(--transparent-purple-light);
    box-shadow: 20px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

img {
    height: 150px;
    width: auto;
    border: 6px solid #534A70;
}

.image {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

.title {
    color: #534A70;
    font-size: 50px;
    display: inline-block;
    font-weight: lighter;

}

.subtitle {
    color: #534A70;
    font-size: 30px;
    display: inline-block;
}

/* About */

.about_text {
    padding: 20px;
    max-width: 600px;
    min-width: 500px;
    z-index: 99;
    border: 6px solid #534A70;
    background-color: var(--transparent-purple-light);
    box-shadow: 20px 20px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

/* Education */

.education_text {
    padding: 40px;
    min-width: 600px;
    z-index: 99;
    border: 6px solid #534A70;
    background-color: var(--transparent-purple-light);
    box-shadow: 20px 20px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.schools { 
    display: flex;
    gap: 30px;
}

.first_school {
    flex: 1;
    padding: 20px;
    border: 6px solid #534a70;
    margin-bottom: 30px;
}

.second_school {
    flex: 1;
    padding: 20px;
    border: 6px solid #bdb7ca;
    margin-bottom: 30px;
}

/* Experience */

.experience_text {
    padding: 40px;
    z-index: 99;
    border: 6px solid #534A70;
    background-color: var(--transparent-purple-light);
    box-shadow: 20px 20px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.jobs {
    display: flex;
    gap: 30px;  
}

.position {
    font-style: italic;
}

.first_job  {
    border: 6px solid #534a70;
    flex: 1;
    padding: 20px;
}

.second_job {
    border: 6px solid #bdb7ca;
    flex: 1;
    padding: 20px;
}

.experience_text ul {
    list-style: square;
    display: block;
    color: #655984;
}

/* Skills */

.skill_bars {
    z-index: 99;
    border: 6px solid #534A70;
    background-color: var(--transparent-purple-light);
    box-shadow: 20px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.bar {
    width: 600px;
    height: 12px;
    border: 2px solid #534a70;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.bar_fill {
    height: 100%;
    transition: all 0.5s ease-in-out;
}

#python {
    background-color: #534a70;
    width: 0%;
}

#java {
    background-color: #655984;
    width: 0%;
}

#c {
    background-color: #7F749C;
    width: 0%;
}

#git {
    background-color: #9C91B8;
    width: 0%;
}

#javascript {
    background-color: #a99dc7;
    width: 0%;
}

#html {
    background-color: #b3a6d4;
    width: 0%;
}

#css {
    background-color: #b3a6d4;
    width: 0%;
}

/* Contact */

section.contact {
    background-color: #655984;
    background-image: url(images/background_image2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.contact_block {
    padding: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 99;
    border: 6px solid #BDB7CA;
    background-color: var(--transparent-purple-dark);
    box-shadow: 20px 20px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.title_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#contact_icons {
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

#contact_title {
    display: flex;
    flex-direction: row;
    color: #BDB7CA;
}

.name_field {
    display: flex;
    gap: 10px;
}

#name {
    flex: 1;
}

#last_name {
    flex: 1;
}

label {
    color: #BDB7CA; 

}

input {
    padding-left: 5px;
    height: 30px;
    background-color: var(--transparent-purple-dark);
    color: rgba(222, 220, 226);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid rgba(222, 220, 226);
    
}

textarea {
    padding-left: 5px;
    height: 60px;
    background-color: var(--transparent-purple-dark);
    color: rgba(222, 220, 226);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 400px;
    max-height: 60px;
    border: 2px solid rgba(222, 220, 226);
}

#submit {
    color: #655984;
    margin-top: 20px;
    height: 30px;
    background-color: rgba(222, 220, 226);
    font-size: 17px;
    cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #C1B7DC;
    opacity: 0.8;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #C1B7DC;
    opacity: 0.8;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #C1B7DC;
    opacity: 0.8;
  }